# Bytecode and cache
__pycache__/
*.py[cod]

# IDE settings
.idea/

# Virtual environment
.venv/

# Api keys
.env

# OS files
.DS_Store
Thumbs.db

# Data files
data/
data/processed/

# Exception: Keep the data catalogue
!data/data_catalogue.xlsx