# Bytecode and cache
__pycache__/
*.py[cod]

# IDE settings
.idea/

# Virtual environment
.venv/

# Secrets and keys
.env

# OS files
.DS_Store
Thumbs.db

# Data files
data/
data/processed/
!data/data_catalogue.xlsx  # Keep only this one

# PostgreSQL volume
pgdata/
